<!-- MENU -->
<nav class="navbar navbar-expand-sm navbar-light">
  <div class="container">
    <a class="navbar-brand home-link" href="#home"> <%= image_tag "logo.png", width: 200 %></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      <span class="navbar-toggler-icon"></span>
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a href="#sobre-projeto-adote-um-povo" class="nav-link"><span data-hover="Sobre o projeto">Sobre o projeto</span></a>
        </li>
        <li class="nav-item">
          <a href="https://amide.org.br" class="nav-link"><span data-hover="Amide">Amide</span><span class="arrow-out adote-um-povo-color">&#10555</span></a>
        </li>
        <li class="nav-item">
          <a href="https://joshuaproject.net" class="nav-link"><span data-hover="Joshua Project">Joshua Project</span><span class="arrow-out adote-um-povo-color"> &#10555</span></a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#adotar-um-filho-povo" class="nav-btn btn custom-btn-small custom-btn-bg">adote agora seu filho povo!</a></li>
      </ul>
    </div>
  </div>
</nav>

<section id="home" class="about d-lg-flex justify-content-center align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-12 d-flex align-items-center">
        <div class="about-text">
          <small class="copyright-text text-center text-danger font-weight-light">“E o Evangelho do Reino será pregado no mundo inteiro, em testemunho a todas as nações, e então virá o fim.”   Mateus 24:14</small>
          <h1 class="animated animated-text text-center">
            <span>Olá, venha</span>
            <div class="animated-info">
              <span class="animated-item adote-um-povo-color">CONHECER</span>
              <span class="animated-item adote-um-povo-color">ORAR POR</span>
              <span class="animated-item adote-um-povo-color">ADOTAR &hearts;</span>
              <span class="animated-item adote-um-povo-color">SUSTENTAR</span>
            </div>
            <span class=""><br>povos não alcançados</span>
          </h1>
          <p class="font-weight-bold">Que tal se tornar pai ou mãe de oração de um desses povos?</p>
          <div class="custom-btn-group">
            <a href="#adotar-um-filho-povo" class="btn custom-btn custom-btn-bg custom-btn-link">Adote agora um Filho Povo!</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-12">
        <div class="about-image svg">
          <%= image_tag "mae_adotiva.svg", class: "img-fluid" %>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Sobre o projeto -->
<div class="container">
  <section id="sobre-projeto-adote-um-povo" class="dark-grey-text">
    <h2 class="text-center font-weight-bold mb-4 pb-2">Por que adotar um povo?</h2>
    <!-- Section description -->
    <p class="text-center lead grey-text mx-auto mb-5">
      <a href="#ref-joshua-project" data-toggle="tooltip" data-placement="top" title="fonte: Joshua Project">
        Existem mais de 7.400  Povos Não Alcançados
      </a>
      (PNAs), povos que ainda não foram alcançados pelo Evangelho de Jesus Cristo.
      <a href="#ref-amide" data-toggle="tooltip" data-placement="bottom" title="idealizadora: AMIDE">Entendemos</a>
      que podemos, enquanto corpo de Cristo, fazer nossa parte na grande comissão de Jesus, obedecendo ao chamado de orar ao Senhor da seara e pedir que Ele mande mais trabalhadores para sua colheita (Mateus 9:38). <i>Para mais informações sobre definição de povos não alcançados, <a href="https://amide.org.br/blog/quem-sao-os-povos-nao-alcancados/" target="_blank">leia este artigo</a></i>.
    </p>

    <div class="row">
      <div class="col-lg-7">
        <div class="row mb-3">
          <div class="col-1">
            <i class="fas fa-share fa-lg indigo-text"></i>
          </div>
          <div class="col-xl-10 col-md-11 col-10">
            <h5 class="font-weight-bold mb-3">Grande Comissão!</h5>
            <p class="grey-text"><i>"Portanto ide, fazei discípulos de todas as nações, batizando-os em nome do Pai, e do Filho, e do Espírito Santo;
              Ensinando-os a guardar todas as coisas que eu vos tenho mandado; e eis que eu estou convosco todos os dias, até a consumação dos séculos. Amém."</i> (Mateus 28:19-20)</p>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-1">
            <i class="fas fa-share fa-lg indigo-text"></i>
          </div>
          <div class="col-xl-10 col-md-11 col-10">
            <h5 class="font-weight-bold mb-3">Salvação de povos não alcançados</h5>
            <p class="grey-text"><i>Como está escrito no livro das palavras de Isaías, o profeta:
              "Voz do que clama no deserto: 'Preparem o caminho para o Senhor, façam veredas retas para ele. Todo vale será aterrado e todas as montanhas e colinas, niveladas. As estradas tortuosas serão endireitadas e os caminhos acidentados, aplanados. E toda a humanidade
              verá a salvação de Deus' ".</i> (Lucas 3, 4-6)</p>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-1">
            <i class="fas fa-share fa-lg indigo-text"></i>
          </div>
          <div class="col-xl-10 col-md-11 col-10">
            <h5 class="font-weight-bold mb-3">Tradução da Bíblia</h5>
            <p class="grey-text">Atualmente, ao redor do mundo, temos 7.361 línguas vivas conhecidas, incluindo as línguas de sinais. Destas, 683 possuem a Bíblia completa traduzida, 1.534 o Novo Testamento, 1.133 contam com porções das Escrituras e as restantes 4.011 não possuem a Palavra de Deus. Os dados são do último relatório da Aliança Global Wycliffe, publicado em outubro de 2018. (fonte: <a href="https://wycliffe.org.br/sem-categoria/porque-traducao/
" target="_blank">Missão Além</a>)</p>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-1">
            <i class="fas fa-share fa-lg indigo-text"></i>
          </div>
          <div class="col-xl-10 col-md-11 col-10">
            <h5 class="font-weight-bold mb-3">Fazer discípulos e plantar igrejas</h5>
            <p class="grey-text">"'Aqueles que nada ouviram' são a prioridade de Deus em relação à evangelização mundial. Isto pode ser perto ou pode ser longe." - Ronaldo Lidório (fonte: <a href="https://ronaldo.lidorio.com.br/wp/estrategias-e-plantio-de-igrejas-no-campo-missionario/" target="_blank">Estratégia e plantio de igrejas no campo missionário</a>)</p>
          </div>
        </div>
      </div>
      <div class="col-lg-5 text-center text-lg-left mb-5">
        <%= image_tag "exemplo_cartao_filho_povo.png", class: "img-fluid border-secondary", style: "border: 1px #2b8808 solid !important;" %><br><span class="small text-center"><i>(Exemplo de cartão de filho povo que chegará por e-mail)</i></span>
      </div>
    </div>
  </section>
</div>

<!-- PNAs -->
<!--<section  id="pnas" class="resume py-5 d-lg-flex justify-content-center align-items-center">-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col-lg-6 col-12">-->
<!--        <h2 class="mb-4">Experiences</h2>-->
<!--        <div class="timeline">-->
<!--          <div class="timeline-wrapper">-->
<!--            <div class="timeline-yr">-->
<!--              <span>2019</span>-->
<!--            </div>-->
<!--            <div class="timeline-info">-->
<!--              <h3><span>Project Manager</span><small>Best Studio</small></h3>-->
<!--              <p>Proin ornare non purus ut rutrum. Nulla facilisi. Aliquam laoreet libero ac pharetra feugiat. Cras ac fermentum nunc, a faucibus nunc.</p>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="timeline-wrapper">-->
<!--            <div class="timeline-yr">-->
<!--              <span>2018</span>-->
<!--            </div>-->
<!--            <div class="timeline-info">-->
<!--              <h3><span>UX Designer</span><small>Digital Ace</small></h3>-->
<!--              <p>Fusce rutrum augue id orci rhoncus molestie. Nunc auctor dignissim lacus vel iaculis.</p>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="timeline-wrapper">-->
<!--            <div class="timeline-yr">-->
<!--              <span>2016</span>-->
<!--            </div>-->
<!--            <div class="timeline-info">-->
<!--              <h3><span>UI Freelancer</span></h3>-->
<!--              <p>Sed fringilla vitae enim sit amet cursus. Sed cursus dictum tortor quis pharetra. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="timeline-wrapper">-->
<!--            <div class="timeline-yr">-->
<!--              <span>2014</span>-->
<!--            </div>-->
<!--            <div class="timeline-info">-->
<!--              <h3><span>Junior Designer<small>Crafted Co.</small></span></h3>-->
<!--              <p>Cras scelerisque scelerisque condimentum. Nullam at volutpat mi. Nunc auctor ipsum eget magna consequat viverra.</p>-->
<!--            </div>-->
<!--          </div>-->

<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-lg-6 col-12">-->
<!--        <h2 class="mb-4 mobile-mt-2">Educations</h2>-->

<!--        <div class="timeline">-->
<!--          <div class="timeline-wrapper">-->
<!--            <div class="timeline-yr">-->
<!--              <span>2017</span>-->
<!--            </div>-->
<!--            <div class="timeline-info">-->
<!--              <h3><span>Mobile Web</span><small>Master Design</small></h3>-->
<!--              <p>Please tell your friends about Tooplate website. That would be very helpful. We need your support.</p>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="timeline-wrapper">-->
<!--            <div class="timeline-yr">-->
<!--              <span>2015</span>-->
<!--            </div>-->
<!--            <div class="timeline-info">-->
<!--              <h3><span>User Interfaces</span><small>Creative Agency</small></h3>-->
<!--              <p><a rel="nofollow" href="https://www.facebook.com/tooplate">Tooplate</a> is a great website to download HTML templates without any login or email.</p>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="timeline-wrapper">-->
<!--            <div class="timeline-yr">-->
<!--              <span>2013</span>-->
<!--            </div>-->
<!--            <div class="timeline-info">-->
<!--              <h3><span>Artwork Design</span><small>New Art School</small></h3>-->
<!--              <p>You can freely use Tooplate's templates for your business or personal sites. You cannot redistribute this template without a permission.</p>-->
<!--            </div>-->
<!--          </div>-->

<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->

<!-- FORMULARIO DE ADOCAO DE FILHO POVO -->
<section id="adotar-um-filho-povo" class="contact py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 mr-lg-5 col-12">
        <%= image_tag "pai_adotivo.svg", class: "img-fluid" %>
      </div>
      <div class="col-lg-6 col-12">
        <div class="contact-form">
          <h2 id="adotando-um-povo" class="mb-4">Decidiu adotar um PNA? Vamos lá!</h2>
          <p>Informe seus dados para <strong>receber por e-mail</strong> seu Filho Povo.</p>
          <%= form_for(@adotante, :url => "#{website_index_path}/#adotando-um-povo", html: { class: "was-validated" })  do |form| %>
            <% if @adotante.errors.any? %>
              <div>
                <div class="alert alert-warning" role="alert">
                  <h4>Você precisa ajustar <%= @adotante.errors.count %> erro(s):</h4>
                </div>
                <ul>
                  <% @adotante.errors.full_messages.each do |message| %>
                    <li class="text-danger">- <%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <% if flash.notice %>
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Parabéns!</strong> Seu filho povo foi enviado por e-mail!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            <% end %>

            <div class="row">

              <div class="col-lg-12 col-12">
                <%= form.text_field :nome, class: "form-control is-valid", placeholder: "Seu nome", required: true %>
                <div class="invalid-feedback">É preciso informar seu nome.</div>
              </div>

              <div class="col-lg-12 col-12">
                <%= form.select :estado, options_from_collection_for_select(@estados, :sigla, :nome, @adotante.estado), {include_blank: "Informe o estado em que mora"},{class: "form-control custom-select", required: true} %>
                <div class="invalid-feedback">É preciso informar o estado em que você mora</div>
              </div>

              <div class="col-lg-12 col-12">
                <%= form.email_field :email, class: "form-control", placeholder:"E-mail", required: true %>
                <div class="invalid-feedback">É preciso informar seu email</div>
              </div>

              <div class="col-lg-12 col-12">
                <%= form.text_field :telefone, class: "form-control", placeholder: "Telefone (opcional)" %>
              </div>
              <div class="col-12">
                <%= form.text_area :pedido_oracao, class: "form-control font-weight-light", placeholder: "Informe aqui seu pedido de oração (Opcional)", rows: 6 %>
              </div>
              <div class="col-12">
                <div class="custom-control custom-checkbox mb-3">
                  <%= form.check_box :marcou_comprometimento, class: "custom-control-input", required: true %>
                  <label class="custom-control-label text-justify" for="adotante_marcou_comprometimento">Eu entendi a proposta de ser um pai ou mãe de um Filho Povo. Sei que devo orar diariamente para que meu Filho Povo seja alcançado pelo Evangelho de Cristo. Entendo que meu compromisso se estende até que meu FIlho Povo seja alcançado ou até que Jesus volte, assim como é o compromisso de um pai e uma mãe para com seus filhos. <br><i>Sim, eu me comprometo com essa Aliança de Adoção.</i></label>
                  <hr>
                  <div class="invalid-feedback">É preciso confirmar seu compromisso!</div>
                </div>
              </div>
              <div class="col-12 mt-3">
                <%= form.submit "Adotar um povo!", class: "btn custom-btn custom-btn-bg" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="container-fluid text-md-left text-center pb-3 pt-4 card mb-5 mt-5">
        <div class="row">
          <!-- amide -->
          <div id="ref-amide" class="col-md-6 mt-md-0 mt-3">
            <h5 class="font-weight-bold">Idealizadora do <span class="adote-um-povo-color">adote um povo</span>:</h5>
            <div class="flex-row mb-4">
              <div class="flex-center float-lg-left amide-brand mr-lg-3">
                <%= image_tag "amide_logo.png", class: "mt-4",alt: "AMIDE" %>
              </div>
            </div>
            <p class="text-justify">
              A <a href="https://amide.org.br" target="_blank">Associaçao Missionária para Difusão do Evangelho (Amide)</a> nasceu oficialmente em 6 de janeiro de 1997 e passados mais de 20 anos, com uma sede em Brasília e representações regionais espalhadas pelo Brasil, África e Ásia, a Amide tem procurado cumprir  o desafio de despertar vocacionados, treiná-los e enviá-los aos campos, sempre em parceria com igrejas. Nosso alvo: levar a glória de Deus para onde não há igreja.
            </p>
          </div>
          <!-- joshua project -->
          <div id="ref-joshua-project" class="col-md-6 mt-md-0 mt-3">
            <h5 class="font-weight-bold">Dados sobre povos não alcançados:</h5>
            <div class="flex-row">
              <div class="col-md-3 mr-3 flex-center joshua-brand mb-lg-0 mb-4">
                <div class="img_box">
                  <%= image_tag "joshua_project_logo.png", class: "img-fluid joshua-img", alt: "Joshua Project" %>
                  <span class="joshua-brand-name">
                    <span class="joshua-brand-name-j">JOSHUA</span>
                    <span class="joshua-brand-name-p">PROJECT</span>
                  </span>
                </div>
              </div>
            </div>
            <p class="text-justify">
              O <a href="https://joshuaproject.net" target="_blank">Projeto Joshua</a> reúne, integra e compartilha informações de grupos de pessoas para encorajar movimentos pioneiros de plantação de igrejas entre cada grupo étnico e para facilitar a coordenação eficaz dos esforços das agências missionárias.
              O Projeto compila o trabalho de vários pesquisadores de missões/missionários para desenvolver a mais completa possível lista de todos os povos étnicos. Existem muitos erros, duplicatas e sobreposições e os dados são atualizados continuamente. <a href="https://legacy.joshuaproject.net/contact.php" target="_blank">Agradecemos comentários</a> de todos os tipos!
            </p>
          </div>
        </div>
      </div>
      <!-- copywrite & etc -->
      <div id="copy-template-developer" class="container">
        <div class="row ">
          <div class="col-lg-12 col-12">
            <p class="copyright-text text-center">
              Copyright &copy; <%= Date.today.year %>
              <a rel=nofollow href="https://amide.org.br">Associação Missionária para Difusão do Evangelho.</a>
              Todos os direitos reservados
              <br>
            <div class="text-center" style="color: #999;">
              <small class=" font-weight-light">Template cortesia de <a rel="nofollow" href="https://www.facebook.com/tooplate">tooplate</a>
                |
                Solução desenvolvida por <a rel="nofollow" href="https://malvins.studio">malvins studio</a>
              </small>
            </div>
            </p>
          </div>
        </div>
      </div>
    </footer>
  </div>
</section>